<html>
    <!--  -->
<head>
<link rel = “stylesheet” src=”//normalize-css.googlecode.com/svn/trunk/normalize.css> 
</head>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>

<body>

<h1>{{"Find a Puppy"}}</h1>
    
<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
    
 

    
<form action="{{url_for('searchPuppies' )}}" method = 'POST'>

<p>Puppy ID:</p>

<input type='text' size='10' name='puppy_id' >

<input type='submit' value='View Puppy'>

    
<p>Name:</p>

<input type='text' size='10' name='name' >

<input type='submit' value='Find Puppies'>

<p>Breed:</p>

<input type='text' size='10' name='breed' >

<input type='submit' value='Find Puppies'>
   
 
    
    </br>


<p> <a href = "{{url_for('welcome')}}">Home</a></p>


</body>

</html>