<html>
    <!--  -->
<head>
<link rel = “stylesheet” src=”//normalize-css.googlecode.com/svn/trunk/normalize.css> 
</head>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>

<body>

<h1>{{"Add Shelter"}}</h1>
    
<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
    
 
    

    
<form action="{{url_for('newShelter' )}}" method = 'POST'>
<dl>
    <dt><p>Shelter Name:</p></dt>
    <dd><input type='text' size='80' name='name'></dd>
    <dt><p>Address:</p></dt>
    <dd><input type='text' size='250' name='address'></dd>
    <dt><p>City:</p></dt>
    <dd><input type='text' size='80' name='city'></dd>
    <dt><p>State:</p></dt>
    <dd><input type='text' size='20' name='state'></dd>
    <dt><p>Zip Code:</p></dt>
    <dd><input type='text' size='10' name='zip'></dd>
    <dt><p>Website:</p></dt>
    <dd><input type='text' size='50' name='website'></dd>
    <dt><p>Maximum Capacity:</p></dt>
    <dd><input type='text' size='5' name='capacity'></dd>
</dl>
    
    


<input type='submit' value='Create Shelter'>

    
    
 
    
    </br>


<a href={{url_for("maintainDatabase")}}>Cancel</a> 


</body>

</html>